<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/taskList.css">

</head>
<body>
    <header>
        <a href="/home">Home</a>
    </header>
    
    <section id="taskList">
        <h1>Lista de Tarefas</h1>
        <a href="/newTask">Nova Tarefa</a>
        <% tasks.forEach(task => { %>
            <div class="task-item" onclick="toggleDetails(this, '<%= task.id %>', '<%= task.name %>', '<%= task.description %>', '<%= task.is_done %>', '<%= task.priority %>', '<%= task.memberId %>')">
                <div><%= task.name %></div>
                <div><%= task.memberName %></div>
                <div><%= task.is_done ? 'Sim' : 'Não' %> | <%= task.priority %></div>
            </div>
            <div class="task-details" id="details-<%= task.id %>">
                <p><strong>Descrição:</strong> <%= task.description %></p>
                <p><strong>Status:</strong> <%= task.is_done ? 'Concluída' : 'Não Concluída' %></p>
                <% if (task.is_done) { %>
                    <p><strong>Data de conclusão:</strong> <%= task.done_date %></p>
                <% } %>
                <div class="task-nav">
                    <% if (task.memberId === currentUserId) { %>
                        <form action="/editTask/<%= task.id %>" method="get">
                            <input type="submit" class="edit-button" value="editar">
                        </form>
                        <form action="/deleteTask/<%= task.id %>" method="POST">
                            <input type="submit" class="edit-button" value="excluir">
                        </form>
                        <form action="/updateTaskStatus/<%= task.id %>" method="POST">
                            <input type="hidden" name="is_done" value="<%= !task.is_done %>">
                            <input type="submit" class="edit-button" value="Marcar como <%= task.is_done ? 'Não Concluída' : 'Concluída' %>">
                        </form>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </section>

    <script>
        function toggleDetails(taskItem, taskId, taskName, taskDescription, isDone, priority, memberId) {
            const detailsDiv = document.getElementById(`details-${taskId}`);
            const isDetailsVisible = detailsDiv.style.display === 'block';

            const allDetails = document.querySelectorAll('.task-details');
            allDetails.forEach(detail => detail.style.display = 'none');

            const allTasks = document.querySelectorAll('.task-item');
            allTasks.forEach(task => task.style.backgroundColor = '');

            if (!isDetailsVisible) {
                taskItem.style.backgroundColor = '#0056b3'; 
                detailsDiv.style.display = 'block'; 
            }
        }

    </script>
</body>
</html>
